<%= turbo_frame_tag 'teams' do %>
  <div class="tabs is-toggle is-centered">
    <ul>
      <%= tag.li class: ('is-active' if params[:by] == 'average_heart_rate') do %>
        <%= link_to 'Average', teams_path(by: 'average_heart_rate') %>
      <% end %>
      <%= tag.li class: ('is-active' if params[:by] == 'current_heart_rate') do %>
        <%= link_to 'Live', teams_path(by: 'current_heart_rate') %>
      <% end %>
    </ul>
  </div>

  <% teams.each_with_index do |team, idx| %>
    <%= render params[:by], team: team, ranking: idx + 1 %>
  <% end %>
<% end %>
