<%= turbo_frame_tag 'teams' do %>
  <div class="tabs is-toggle is-centered">
    <ul>
      <%= tag.li class: ('is-active' if params[:by] == 'average_heart_rate') do %>
        <%= link_to 'Sort by Average Heartrate', teams_path(by: 'average_heart_rate') %>
      <% end %>
      <%= tag.li class: ('is-active' if params[:by] == 'current_heart_rate') do %>
        <%= link_to 'Sort by Live Heartrate', teams_path(by: 'current_heart_rate') %>
      <% end %>
    </ul>
  </div>

  <% teams.each do |team| %>
    <div class="team-heartbeat">
      <p class="has-text-right">
        <span class="tag is-medium">
          <%= team.name %>&nbsp;
          <% if team.live? %>❤️<% else %>🤍<% end %>
        </span>
      </p>
      <% if team.rate_avg %>
        <h1 class="is-size-4 has-text-centered has-text-weight-semibold">avg. <%= team.rate_avg %></h1>
      <% end %>
      <% if team.live? %>
        <h1 class="is-size-1 has-text-centered has-text-weight-semibold"><%= team.rate %></h1>
        <h2 class="is-size-6 has-text-centered"><%= time_tag(team.measured_at, format: '%H:%M:%S') %></h2>
      <% end %>
    </div>
  <% end %>
<% end %>
